.logo {
  color: var(--heading-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  gap: 10px;
}
.themeBtn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.loadingImg {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

@media only screen and (max-width: 379px) {
  .logo {
    font-size: 1.2rem;
  }
  .themeBtn {
    padding: 4px 7px;
    font-size: 0.8rem;
    gap: 2px;
  }
}
