.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 420px) {
  .middle {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
